---
layout: default
---
{% unless site.dash.show_author == false %}
  {% include author.html %}
{% endunless %}

<h2>Lo que hago</h2>
<h3 class="subheader">Crear</h3>
Soy un <b>desarrollador de software</b> que diseña, crea productos digitales útiles, utilizables y agradables utilizando tecnologías abiertas.

<div style="display: grid; margin-top: 12px;">
  <a href="https://github.com/{{ site.github_username }}" class="read-more github"><i class="fab fa-fw fa-github"></i>Explorar mi código en GitHub</a>
</div>

<h3 class="subheader">Escribo</h3>
Escribo <b>cosas interesantes</b> en internet sobre desarrollo, tecnologia, UX y algunas cosas interesantes.
<div style="display: grid; margin-top: 12px;">
  <a href="/blog" class="read-more blog"><i class="fa fa-fw fa-rss"></i>Leer publicaciones en el blog</a>
  <a href="https://twitter.com/{{ site.twitter }}" class="read-more twitter"><i class="fab fa-fw fa-twitter"></i>Ver tweets</a>
</div>

<h2>Aplicaciones</h2>
Tengo algunas aplicaciones disponibles en AppCenter para elementary OS y disribuciones GNU/Linux en general. ¡Échales un vistazo!

<h3 class="subheader">Planner</h3>
Planner es un administrador de proyectos y tareas diseñado para elementary OS con soporte para Todoist e inspirado en la metodología "Getting Things Done" (GTD).

<div style="text-align: center;">
  <img style="height: 250px;" src="https://github.com/alainm23/planner/blob/master/data/screenshot/screenshot-02.png?raw=true" alt="">
</div>

<div style="display: grid; margin-top: 12px;">
  <a href="https://useplanner.com/" class="read-more blog"><i class="fa fa-fw fa-rss"></i>Visita el sitio</a>
  <a href="https://github.com/alainm23/planner" class="read-more github"><i class="fab fa-fw fa-github"></i>Explorar el código en GitHub</a>
</div>

<h3 class="subheader">Byte</h3>
Byte es un reproductor de musica minimalista para GNU/Linux con soporte para biblioteca y radios en linea.

<div style="text-align: center;">
  <img style="height: 250px;" src="https://github.com/alainm23/byte/blob/master/data/screenshot/screenshot-01.png?raw=true" alt="">
</div>

<div style="display: grid; margin-top: 12px;">
  <a href="https://github.com/alainm23/byte" class="read-more github"><i class="fab fa-fw fa-github"></i>Explorar el código en GitHub</a>
</div>
